<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Guia Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="welcome-container">
    <ion-icon name="rocket-outline" class="main-icon" color="primary"></ion-icon>
    <h1>Seu Primeiro App!</h1>
    <p>
      Neste mini-curso prático, você vai aprender a dar os primeiros passos no desenvolvimento mobile criando um aplicativo real, do zero à publicação.
    </p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="code-slash-outline" color="tertiary"></ion-icon>
        O que é o Ionic?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O Ionic é um framework poderoso que permite criar aplicativos para Android e iOS utilizando as tecnologias web que você já estuda: HTML, CSS e Angular/TypeScript. Você escreve o código uma vez e ele funciona em qualquer lugar!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="library-outline" color="secondary"></ion-icon>
        O que vamos aprender?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nas próximas abas, vamos preparar o seu computador instalando ferramentas essenciais como o VS Code e o Node.js. Depois, vamos executar comandos no terminal para construir a sua interface.
    </ion-card-content>
  </ion-card>

</ion-content>